/*Общий фон темы*/ 
body, .body {
	margin: auto;
	max-width: 700px;
	font-family: tahoma;
	font-size: 14px;
	background: #fff;
	box-shadow: 0px 0px 15px #bdc1c5;
}

.body {
	border: 2px #E7E7FD solid;
	background-color: #F9F9FF;
	padding: 3px;
	color: #243e99
}

/*зЁбра*/
.z_1{
	margin: 1px;
	background: #e7e7e7 url(element_style/s1.png) repeat-x;
	padding: 10px;
	color: #777;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
}
.z_2{
	margin-top: 1px;
	margin-bottom: 1px;
	background: #F1F5F8;
	padding: 10px;
	border: 1px solid #ccc;
	color: #366ea1;
}

/*Время в  шапки*/
.time_head{float: right}

/*Ссылки в бб кодах*/ 
.link_bb,.link_bb_2{}

/*Новые темы*/ 
.act_them{
	margin-top: 1px;
	margin-bottom: 1px;
	background: #bdccd5 url(element_style/title.png);
	padding: 10px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
}
/*Новые темы фон*/
.act_them_fon{}

/*Див новостей на главной и титл*/ 
.news,.news_title{
	margin-top: 1px;
	margin-bottom: 1px;
	background: #bdccd5 url(element_style/title.png);
	padding: 10px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
}

/*кнопка скрытия новостей*/ 
.news_knopk {
	background: url(element_style/s1.png) repeat-x;
	padding: 5px;
	color: #777;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: -7px;
}


/*Действия в анкете (написать и т.п)*/
.ank_user_d{
	margin: 1px;
	background: #e7e7e7 url(element_style/s1.png) repeat-x;
	padding: 9px;
	color: #777;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
}
.ank_user_d img {
    margin-bottom: -4px;
}
/*Фон статуса в анкете*/
.ank_user_status{
	margin: 1px;
	background: #e7e7e7 url(element_style/s1.png) repeat-x;
	padding: 9px;
	color: #777;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
}


/*Фон анкеты /ank_* */
.ank_fon,.user_panel{
	margin: 1px;
	background: #e7e7e7 url(element_style/s1.png) repeat-x;
	padding: 9px;
	color: #777;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
}


/*Див от форума (голосование)*/ 
.votes {
    background: url('/forum/icons/votes/poll.gif') repeat-x;
    border: 1px solid black;
    height: 10px;
    margin: 2px 1px 2px 0px;
    -moz-border-radius: 4px; /*Mozilla-FireFox*/
    -webkit-border-radius: 4px; /* Safari and Chrome*/
    -khtml-border-radius: 4px; /* Linux browsers */
    border-radius: 4px;
 }
.votes> span {
    display: block;
    height: 100%;
    background: transparent;
    border-radius: 4px;
}
 /*Див от форума (голосование/картинка)*/ 

/*
.votes img{
    vertical-align: 1px;
    margin: 0px;
    padding: 0px;
    -moz-border-radius:4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
} 
*/ 
 

/*Див лицензии (ошибки)*/ 
.license_err{
	text-align: center;
	border-top: 1px #853A24 solid;
	background-color: #BF614D;
	color: #FFE3E3;
	padding: 10px;
}

/*Див лицензии и фон*/ 
.license, .license_fon {
	margin-top: 1px;
	margin-bottom: 1px;
	background: #fff;
	padding: 10px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
}

/*Форма авторизации*/ 
.form_a {
	border: 1px #dcdcdc solid;
	padding: 10px;
	width: 95%;
	border-radius: 6px;
	-moz-border-radius: 6px;
}

/*Форма авторизации (кнопка)*/ 
.form_a_bottom {
	background: #5EB8FE;
	padding: 10px;
	width: 30%;
	border: 1px solid #fff;
	border-radius: 6px;
	-moz-border-radius: 6px;
}

/*Приложения в кабинете*/ 
.apps {
	margin-top: 1px;
	margin-bottom: 1px;
	background: #bdccd5 url(element_style/title.png);
	padding: 10px;
	border: 1px solid #B8B8B8;
	color: #366ea1;
}
 
/* submit */
.submit_tab[type="submit"] {
	background: url(element_style/s1.png) repeat-x;
	padding: 2px;
	color: #777;
	border: 1px solid #ccc;
	text-align: center;
	height: 30px;
	width: 240px;
}

/* Фон модуля авторизации через соц сеть (ulogin)*/
.api_Login {
	margin-top: 1px;
	margin-bottom: 1px;
	background: #bdccd5 url(element_style/title.png);
	padding: 10px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
}
.ank_n {
	font-size: 12px;
	font-weight: bold;
	color: #555;
}
 
span.ank_n img {
    margin-bottom: -2px;
}
 
.rekl {
	padding: 5px;
	text-align: center;
	margin-top: 2px;
	background: #D6F3A3;
	border: 1px solid #B1C99C;
}
 
.rekl a:visited {
    color: #a02000;
}
 
.ank_d {
	font-size: 12px;
	padding: 1px;
	color: #777;
	border-radius: 5px;
}
 
.ank_d:hover {
	background: url(element_style/s1.png) repeat-x;
	padding: 2px;
	color: #777;
	border: 1px solid #ccc;
}
 
hr {
	border-collapse: collapse;
	background-color: #BF614D;
	border-radius: 5px;
}
 

/* Возможные ники в анкете */
.user_collisions {
	background: #E2CBE1;
	padding: 9px;
	color: #777;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
}
 
.info_razd {
	background: #fff;
	padding: 9px;
	color: #777;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
}
 
.umenu_div,.nick_img {}

/*Кабинет*/
.user_dir {
	border-radius: 5px;
	background: #fff;
	padding: 9px;
	color: #777;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
	margin-top: 2px;
	margin-bottom: 2px;
}

/*Кабинет картинки*/ 
.user_dir img {
    margin-bottom: -4px;
}

/*Кабинет hover*/
.user_dir:hover {
    background: url(element_style/s1.png) repeat-x;
}

/*Кабинет фон*/
.user_fon {
	background: url(element_style/s1.png) repeat-x;
	padding: 9px;
	color: #777;
	border: 1px solid #ccc;
}
.user_fon a:link {color: #777;}
/*span должности в анкете и в некоторых местах*/
.status {
	color: #222333;
	text-shadow: 0px 0px 15px #fff;
}
 
.ank_span_m {
	background: url(element_style/s1.png) repeat-x;
	padding: 5px;
	color: #777;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: -7px;
}
 
.ank_span {
	background: url(element_style/s1.png) repeat-x;
	padding: 7px;
	color: #777;
	border: 1px solid #ccc;
	border-radius: 5px;
}



/*аватар в кабинете hover*/ 
.avar_ank_set:hover {
	box-shadow: 0 0 9px #222;
}

/*аватар в анкете*/ 
.avar_ank ,.avar_ank_set{
	border: 1px #E2E2E2 solid;
	background: #bdccd5 url(element_style/title.png);
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	box-shadow: 0 0 5px #D2D9E1;
}
 
/*аватар*/ 
.avar {
	width: 32px;
	height: 32px;
	border: 1px #D6E6F2 solid;
	background: #bdccd5 url(element_style/title.png);

}

/*аватар*/ 
.avar img {
    margin-bottom: -4px;
}

/*аватар*/ 
.avar img {
    box-shadow: 0 0 1px #4f4e4e;
	margin: 1px;

}

.inp {
	margin-top: 1px;
	margin-bottom: 1px;
	background: #F3F2F2;
	padding: 6px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
	width: 50%;
	border-radius: 6px;
	-moz-border-radius: 6px;
}
 
.menu_razd {
	background: url(element_style/s1.png) repeat-x;
	padding: 9px;
	color: #777;
	font-weight: bold;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
}
 
.menu_razd a:link ,.menu_razd a:visited {
	text-shadow: 0px 1px #f5f6f6;
	font-weight: bold;
	color: #576AA4;
}
 

 
/*Ведро :D*/
.trash {
	background: url(/style/icons/trash.png) no-repeat top right;
	opacity: 0.4;
	margin-top: 9px;
	padding: 1px;
	width: 16px;
	height: 16px;
	left: 2px;
	float: right;
}
 
.trash:hover {
	background: url(/style/icons/trash_i.png) no-repeat top right;
	opacity: 9.4;
}
 

 
/*Панель форм бб кодов*/
.panel_form {
	border: 1px solid #d8d8d8;
	background: #bdccd5 url(element_style/title.png);
	padding: 7px;
}

.panel_form img {
    margin-bottom: -3px;
}

.au {
	text-align: center;
	width: 1%;
	background: url(element_style/s1.png) repeat-x;
	padding: 9px;
	color: #777;
	font-weight: bold;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
}
 
.au:hover {
    opacity: 0.7;
}
 

.au img {
    margin-bottom: -4px;
}
 
.ava {
    padding: 0 8px 0 8px;
}
 
.ava img {
	box-shadow: 0 0 5px #4f4e4e;
	border-radius: 5px;
	margin-top: 3px;
}
 
table {
	border-collapse: separate;
	margin-bottom: -1px;
	border-spacing: 1px;
	margin-top: -1px;
	width: 100%;
}
.table-aut {
	width:100%;
	border:1px;
	border-spacing:1px 1px;
	padding:0px;
	table-layout:fixed;
}



/*Статус в анкете*/ 
.status_o_s {
	margin-left: 20px;
	margin-bottom: 0;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
	border-width: 0px 0px 10px 10px;
	height: 0px;
	width: 0px;
}
 
.status_o {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	margin: 3px;
	margin-top: 0;
	border: #fff 1px solid;
	padding: 10px;
	color: #808080;
	background: #fff;
	word-wrap: break-word;
}

/*Вывод новых сообщений */ 
.status_o_s_mail {
	margin-left: 20px;
	margin-bottom: 0;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
	border-width: 0px 0px 10px 10px;
	height: 0px;
	width: 0px;
}
 
.status_o_mail {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	margin: 3px;
	margin-top: 0;
	border: #fff 1px solid;
	padding: 10px;
	color: #808080;
	background: #EEEEEE;
	word-wrap: break-word;
}
 
.menu_new {
	margin-top: 1px;
	margin-bottom: 1px;
	background: #bdccd5 url(element_style/title.png);
	padding: 6px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
}
 
.ank_div {
	margin-top: 1px;
	margin-bottom: 1px;
	background: #bdccd5 url(element_style/title.png);
	padding: 6px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
}
 
a:link, a:active, a:visited {
	color: #fff;
	text-decoration: none;
}
 
a:hover {
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
	text-decoration: none;
}
 

 
a:link, a:visited {
	color: #238be4;
	text-decoration: none;
}
 
a:hover {
	color: #ff8700;
	text-decoration: none;
}
 
.title {
	overflow: hidden;
	background: #bdccd5 url(element_style/s.png) repeat-x top;
	padding:5px;
	border: solid 1px #7a96ff;
	text-align: center;
	color: #366ea1;
	margin-bottom: 1px;
}
 
/*новая гостевая (мини-чат) */ 

.guestbook {
	overflow: hidden;
	background: #F0E9EB url(element_style/title.png);
	padding: 10px;
	border: solid 1px #DCDBDB;
	color: #366ea1;
	margin-bottom: 1px;
}
 
.guestbook_i {
	background: #bdccd5 url(element_style/title.png);
	padding: 10px;
	border: solid 1px #E9E1E3;
	color: #366ea1;
	margin-bottom: 1px;
	margin-top: 1px;
}
 
.aut {
	background: #bdccd5 url(element_style/s.png) repeat-x top;
	padding: 3px;
	border: solid 1px #7a96ff;
	color: #366ea1;
	margin-top: 1px;
	margin-bottom: 1px;
}
 
.show_foto {
	background: #e7e7e7;
	border: solid 1px #fff;
}
 
.div_foto {
	padding: 5px;
	background: #e7e7e7;
	border: solid 1px #d0d2d3;
}

/*Логотип*/ 
.logos {
	margin-top: 10px;
	background: #bdccd5 url(element_style/s.png) repeat-x;
	padding: 3px;
	border-radius: 5px 5px 0px 0px;
	color: #366ea1;
	margin-bottom: 1px;
}
.logos a {
    display: block;
}
/*ссылка главного меню*/ 
.menu_s {
	margin-top: 1px;
	margin-bottom: 1px;
	background: #bdccd5 url(element_style/title.png);
	padding: 6px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
}
 
.menu_s img {
    margin-bottom: -3px;
}
.menu_s a{
    display: block;
    color: grey;
} 
.aut a {
    color: #E3FF13;
}
 
.aut a:hover {
    color: #FFFFFF;
}
 
.aut img {
    margin-bottom: -5px;
}

/*при ошибках*/ 
.err {
	text-align: center;
	border-top: 1px #853A24 solid;
	background-color: #BF614D;
	color: #FFE3E3;
	padding: 10px;
}

/*Сообщения*/ 
.msg {
	margin-top: 1px;
	background: url(element_style/msg_bg.png) repeat-x left top;
	text-align: center;
	color: #fff;
	padding: 10px;
}

/*Цитирование*/ 
.cit {
	border-left: 4px solid #c1c1c1;
	color: #878787;
	font-size: x-small;
	padding: 1px;
	border: 1px solid #1E90FF;
	margin-left: 2px;
}
 
.icon14 {
	background: #bdccd5 url(element_style/title.png);
	border: solid 1px #d5d6d6;
	width: 24px;
	height: 24px;
	padding: 6px;
	text-align: center;
}
 
.icon48 {
	background: #bdccd5 url(element_style/title.png);
	border: solid 1px #d5d6d6;
	width: 50px;
	height: 50px;
	padding: 6px;
	text-align: center;
}
 
.p_t {
	margin-top: 1px;
	margin-bottom: 1px;
	background: #bdccd5 url(element_style/title.png);
	padding: 6px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
}

.p_m {
	margin: 1px;
	background: #e7e7e7 url(element_style/s1.png) repeat-x;
	padding: 9px;
	color: #777;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
}

.p_m input, .p_m input[type="submit"] {
    background: white;
}

.p_m a:link , .p_m a:visited {
	text-shadow: 0px 1px #f5f6f6;
	font-weight: bold;
	color: #576AA4;
}
.adm_panel img, .p_m img {
    margin-bottom: -4px;
}
 
.adm_panel {
	background: url(element_style/s1.png) repeat-x;
	padding: 9px;
	color: #777;
	font-weight: bold;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
	margin: 1px;
}
 
.adm_panel a:link , .adm_panel a:visited {
	text-shadow: 0px 1px #f5f6f6;
	font-weight: bold;
	color: #576AA4;
}

.adm_panel img:hover {
	opacity: 0.7;
	color: #FF0000!important;
	text-decoration: underline;
}
 
/*Фон админ меню*/
.adm_panel_fon {
	background: #fff;
	color: #777;
	font-weight: bold;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
	margin: 1px;
}
 
.adm_panel_razd {
	background: url(element_style/s1.png) repeat-x;
	padding: 9px;
	color: #777;
	font-weight: bold;
	border: 1px solid #ccc;
	text-shadow: 0px 1px #fff;
	margin: 1px;
}
 
.adm_panel_razd img {
    margin-bottom: -5px;
}
 
.adm_panel_span {
	background: url(element_style/s1.png) repeat-x;
	padding: 4px;
	color: #777;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: -3px;
}
 
.str {
	margin-top: 1px;
	margin-bottom: 1px;
	background: #bdccd5 url(element_style/title.png);
	padding: 6px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
}
 
.str_span_act {
	background: #F9F3F5;
	-khtml-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
	padding: 2px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
}
 
.str_span {
	background: #F9F3F5;
	-khtml-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
	padding: 2px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
}
 
td,tr {
    
}
 
img {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
 
form {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
 
form label {
    
}
 
form label:hover {
    
}
 
input[type="submit"] {
	margin-top: 1px;
	margin-bottom: 1px;
	background: #bdccd5 url(element_style/title.png);
	padding: 6px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
}
 
input[type="submit"]:hover {
	color: #000;
	background-color: #EEF3FF;
	border-bottom: 1px #BCC7D6 solid;
}
 
textarea {
	font-size: 13px;
	font-weight: bold;
	max-width: 100%;
	width: 90%;
	height: 4pc;
	margin: 5px;
	border: 1px solid #F3F2F2;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
 
input {
	margin-top: 1px;
	margin-bottom: 1px;
	background: #bdccd5 url(element_style/title.png);
	padding: 6px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
	border-radius: 6px;
	-moz-border-radius: 6px;
}
 
select {
	margin-top: 1px;
	margin-bottom: 1px;
	background: #bdccd5 url(element_style/title.png);
	padding: 6px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
	border-radius: 6px;
	-moz-border-radius: 6px;
}
 
.foot {
	margin-top: 1px;
	margin-bottom: 1px;
	background: #bdccd5 url(element_style/title.png);
	padding: 6px;
	border: solid 1px #d5d6d6;
	color: #366ea1;
}
 
/* ссылки главного меню */
.main_menu {
	margin-top: 3px;
	margin-bottom: 3px;
}
 
.warn {
	color: #ff8400;
	margin-top: 1px;
	margin-bottom: 1px;
	padding: 2px;
	border: solid 1px #ffdc93;
	background: #fff5df;
}
 
.foot_page {
	background: #bdccd5 url(element_style/s.png) repeat-x top; /* самый низ меню */
	padding: 3px;
	border: solid 1px #7a96ff;
	text-align: center;
	margin-bottom: 1px;
}
 
.foot_page a {
    color: #424243;
}
 
.rekl_foot {
	padding: 2px 0px 1px 0px;
	text-align: center;
	background: #425b89;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
 
.foot_up {
	background: #bdccd5 url(element_style/s.png) repeat-x top;
	padding: 7px;
	border: solid 1px #7a96ff;
	text-align: center;
	color: #366ea1;
}
 
.foot_i {
	background: #bdccd5 url(element_style/s.png);
	padding: 7px;
	color: #000;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	margin-bottom: 10px;
}
 
.foot_i a {
    color: #53A9EB;
}
 
.copy {
	background: #bdccd5 url(element_style/s.png);
	padding: 3px;
	color: #000;
	border-radius: 8px;
}
 
.post, table {
	border: solid 1px #d5d6d6;
	width: 100%;
}
 
.on {
	text-shadow: 0 0 7px #3e413d;
	color: red;
}
 
.off {
    text-shadow: 0 0 4px #FFF;
}

/*Пагинация*/
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc;
}

.btn:first-child {
  *margin-left: 0;
    color: #fff;
	text-decoration: none;

}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}



.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}



.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c;
}
